body , ul, p, h2 , h3 {
    margin: 0;
    padding: 0;
}
*{
    font-family: "Rubik";
}

.font-f-400{
    font-weight: 400;
    line-height: 30px;
}

.font-f-500{
    font-weight: 500;
}

.font-f-700{
    font-weight: 700;
}
button , a {
    cursor: pointer;
}
a{
    text-decoration: none;
}
section{
    /* display: block; */
}
.container{
    margin: 0 auto;
    max-width: 1140px;
    display: block;
    margin-left: 150px;
}

.header{
    min-height: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav-bar ul{
    display: flex;
    gap: 34px;
}

.header__nav-bar{
    display: flex;
}

.header__nav-bar li{
    list-style-type:none;
    font-size: 16px;
}

.registration__button{
    background: none;
    width: 150px;
    height: 45px;
    border-radius: 50px;
    font-size: 16px;
}

.registration__sign-in{
    border-color: white;
    border: none;
    color: #0B132A;
}

.registration__sign-up{
    border-color: #F53855;
    color: #F53855;
    border: none;
}
.registration__sign-up:hover{
    background: #F53855;
    color: white;
}

.home__title{
    font-size: 50px;  
    line-height: 70px; 
}

.home{
    display: flex;
    justify-content: space-between;
}
@media (max-width: 550px) {
    .home__img {
      display: none;
    }
  }
.home__desc{
    color: #4F5665;
    line-height: 30px; 
}

.button-w250px{
    width: 250px;
    height: 60px;
    background: #F53838;
    border-radius: 10px;
    box-shadow: 2px 16px 38px rgba(255, 0, 0, 0.37);
    font-size: 16px;
    color: white;
    border: none;
}
.home__button{
    margin-top: 50px;
}

.achievements{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 200px;
    margin-top: 103px;
    -webkit-box-shadow: 1px 1px 100px -69px rgba(13,16,37,1);
-moz-box-shadow: 1px 1px 100px -69px rgba(13,16,37,1);
box-shadow: 1px 1px 100px -69px rgba(13,16,37,1);
}

.achievements__complex{
    display: flex;
    gap: 36.5px;
    margin: 10px;
}
.achievements__number{
    line-height: 30px;
    font-size: 25px;
}

.achievements__subtitle{
    color: #4F5665;
    line-height: 30px;
    font-size: 20px;
}

.features{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 95px;
}

.features__title{
    font-size: 35px;
    line-height: 50px;
    text-align: center;
}

.features__subtitle{
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}

.feature__item{
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.third-section{
    background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0) 88.56%);
}

.plan-blocks{
    margin-top: 60px;
    gap: 50px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.plan-block{
    min-width: 330px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
}
.plan-block:hover{
    border: 2px solid #F53838;
}
.plan__block-title{
    padding-top: 200px;

    text-align: center;
}

.plan-block__box{
    margin-top: 80px;
}

.plan__title{
    color: #0B132A;
    font-size: 35px;
    line-height: 50px;
}

.plan__subtitile{
    color: #4F5665;
    font-size: 16px;
    line-height: 30px;
}

.plan-block__tittle{
    margin-top: 30px;
    font-size: 18px;
}
.plan__items{
    margin-top: 30px;  
}

.plan__item{
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 30px;
    gap: 20px;
}

.plan__text{
    color: #4F5665;
}
.plan__price-block{
    margin-top: 50px;
}

.price-block__price{
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;
}
.plan__btn{
    width: 177px;
    height: 45px;
    margin-top: 20px;
    margin-bottom: 50px;
    background: none;
    border: 2px solid #F53838;
    border-radius: 50px;
    color: #F53838;
    font-size: 16px;
}
.plan__btn:hover{
    color: white;
    background: #F53838;
    transition: 20ms linear;
}
.network{
    margin-top: 150px;
    text-align: center;
}
.network__title{
    font-size: 35px;
    line-height: 50px;
}
.network__subtitle{
    color: #4F5665;
    font-size: 16px;
    line-height: 30px;
}
.network-map{
    width: 100%;
    margin-top: 155px;
}
.partners{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.reviews{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.review__card{
    min-width: 365px;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    padding: 25px;
}
.reviews__title{
    font-size: 35px;
}
.review__person{
    display: flex;
    gap: 75px;
}
.reviews__subtitle{
    color: #4F5665;
    font-size: 16px;
}
.review__name-block{
    text-align: left;
}
.review__name{
    font-size: 18px;
}
.review__location{
    color: #0B132A;
    font-size: 14px;
}
.review__grade-block{
    display: flex;
    align-items: center;
}
.review__info{
    display: flex;
    gap: 21px;
}
.review__text{
    max-width: 340px;
    font-size: 16px;
    text-align: left;
    margin-top: 20px;
    color: #0B132A;
}
.reviews__cards{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 60px;
}
.carousel{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.carousel-block{
    display: flex;
    gap: 15px;
    margin-top: 0px;
}
.cross{
    border-radius: 100%;
    background: none;
    border: 2px solid #F53838;
    height: 60px;
    width: 60px;
    margin-right: 15px;
}
.cross:hover{
    background: #F53838;
}
.subscribe__card{
    margin-top: 60px;
    padding: 58px 70px 58px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 56px -32px rgba(13,16,37,.6);
}
.subscribe__text{
    max-width: 371px;
}
.subscribe__title{
    font-size: 35px;
    line-height: 45px;
    color: #0B132A;
}
.subscribe__subtitle{
    font-size: 16px;
    margin-top: 10px;
}
/* .seventh-section{
    background: -webkit-gradient(linear, left bottom, left top, from(#F8F8F8), color-stop(50%, #F8F8F8), color-stop(50%, rgba(217, 217, 217, 0)));
    background: linear-gradient(0deg, #F8F8F8 0%, #F8F8F8 50%, rgba(217, 217, 217, 0) 50%);
} */
footer{
    margin-left: 150px;
}
.footer__icon{
    background-color: #F53838;
    border-radius: 100%;
    border: none;
    width: 34px;
    height: 34px;
    margin-right: 15px;
    box-shadow: 1px 8px 20px 0px rgba(13,16,37,.6);
}
.footer__icons{
    margin-top: 30px;
}
.footer__logo-block{
    /* height: 242px; */
    width: 340px;
}
.footer__desc{
    margin-top: 20px;
    color: #4F5665;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 63px;
}
.footer__year{
    margin-top: 30px;
    color: #AFB5C0;
}
.footer__table {
    gap: 10px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
.footer__table-element li{
    display: block;
    color: #4F5665;
}
.footer-tables{
    display: flex;
    gap: 126px;
}